{% extends "base" %}

{% block content %}
<!-- Formulário simples -->
<form action="" method="post">
  <label for="titulo">Titulo:</label>
  <input id="titulo" type="text" name="name">
  
  <label for="titulo">descrição:</label>
  <input id="titulo" type="text" name="name">
  
  <label for="titulo">preço:</label>
  <input id="titulo" type="text" name="name">
  
  
  <input type="submit" value="Save">
</form>
{% endblock %}


