{% extends "base" %}

{% block content %}
	<!-- Formulário simples -->
	<form action="{{route('produtos.store')}}" method="post">
		{{ csrf_field() }}
		
    <label for="titulo">Titulo:</label>
		<input id="titulo" type="text" name="titulo">

		<label for="descricao">descrição:</label>
		<input id="descricao" type="text" name="descricao">

		<label for="foto">foto:</label>
		<input id="foto" type="text" name="foto">

		<label for="preco">preço:</label>
		<input id="preco" type="text" name="preco">


		<input type="submit" value="Cadastrar">
	</form>
{% endblock %}
